microservice4net/obj/*
microservice4net/bin/*
MicroService4Net.Example/obj/*
MicroService4Net.Example/bin/*
MicroService4Net/bin/*
MicroService4Net/obj/*
packages/*
.hg/*
.hgignore
MicroService4Net.sln.DotSettings.user
.vs/MicroService4Net/v14/.suo
MicroService4Net.Example/MicroService4Net.Example.csproj.user